<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>
</head>


<body>
<div th:fragment="messages" class="row">
    <div th:if="${message != null}" class="col s12 green lighten-4">
        <p th:text="#{${message}}">Message</p>
    </div>
</div>
</body>
</html>
