<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>ADMOdb - Advanced Movie Database</title>

	<link rel="icon" th:href="@{/resources/img/Fevicon.png}" type="image/png">

  <link rel="stylesheet" th:href="@{/resources/vendors/bootstrap/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/resources/vendors/themify-icons/themify-icons.css}">
  <link rel="stylesheet" th:href="@{/resources/vendors/owl-carousel/owl.theme.default.min.css}">
  <link rel="stylesheet" th:href="@{/resources/vendors/owl-carousel/owl.carousel.min.css}">

  <link rel="stylesheet" th:href="@{/resources/css/style.css}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" th:src="@{/resources/js/genre.js}"></script>
</head>
<body>

  <!--================ Header Menu Area start =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <a class="navbar-brand logo_h" href="index"><h2 style = "color:white">ADMOdb</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-end">
              <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>

              <li class="nav-item"><a class="nav-link" href="profile">Profile</a>
              <li class="nav-item"><a class="nav-link" href="favoritemovie">Favorite Movies</a>

            </ul>

            <div class="nav-right text-center text-lg-right py-4 py-lg-0">
              <a class="button button-link mr-4" href="chat"><span class="align-middle"><i class="ti-comments"></i></span> Live Chat</a>
            <a class="button button-outline button-small" href="login" sec:authorize="isAnonymous()">Login</a>
            <a class="button button-outline button-small" href="logout" sec:authorize="isAuthenticated()">Logout</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!--================Header Menu Area =================-->


  <!--================ Banner Section start =================-->
  <section class="hero-banner text-center">
    <div class="container">
      <p class="text-uppercase">Group 9 Advanced Programming presents to you,</p>
      <h1>ADMOdb</h1>
      <p class="hero-subtitle">Advanced Movie Database</p>
      <p class="hero-subtitle">A platform to know more about your favourite movies.</p>
    </div>
  </section>
  <!--================ Banner Section end =================-->


  <!--================ Domain Search section start =================-->
  <section class="bg-purple domain-search">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-3 col-lg-2 text-center text-md-left mb-3 mb-md-0">
          <h3 style = "color:white">Search Your Favourite Movie!</h3>
        </div>
        <div class="col-md-9 col-lg-10 pl-2 pl-xl-5" id="searchAndGenre">
          <form class="form-inline flex-nowrap form-domainSearch">
            <div class="form-group">
              <label for="staticDomainSearch" class="sr-only">Domain Search</label>
              <input type="text" class="form-control" id="staticDomainSearch" placeholder="Enter Your Favourite Movie's title">
            </div>
            <button type="submit" class="button rounded-0">Search</button>
          </form>


        </div>
      </div>
    </div>
  </section>
  <!--================ Domain Search section end =================-->

  <!--================ Testimonial section end =================-->

  <!--================ Service section start =================-->
  <section class="section-margin mb-5">
    <div class="container">
      <div class="section-intro pb-85px text-center">
        <h2>Meet Our Team</h2>
        <div class="section-style"></div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="card-service text-center">
            <div class="service-icon">
              <img th:src="@{img/home/png/006-server.png}" alt="">
            </div>
            <h3>Ardanto Finkan Septa</h3>
            <p>Man greater image shall land air winged replenish whose winged great fifth fruitful Set days sealand over great  </p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="card-service text-center">
            <div class="service-icon">
              <img th:src="@{img/home/png/004-home-page.png}" alt="">
            </div>
            <h3>Alya Zahra</h3>
            <p>Man greater image shall land air winged replenish whose winged great fifth fruitful Set days sealand over great  </p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="card-service text-center">
            <div class="service-icon">
              <img th:src="@{img/home/png/007-server-1.png}" alt="">
            </div>
            <h3>Ikhsan</h3>
            <p>Man greater image shall land air winged replenish whose winged great fifth fruitful Set days sealand over great  </p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="card-service text-center">
            <div class="service-icon">
              <img th:src="@{img/home/png/002-shield.png}" alt="">
            </div>
            <h3>Muhammad Ardivan Satrio Nugroho</h3>
            <p>Man greater image shall land air winged replenish whose winged great fifth fruitful Set days sealand over great  </p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="card-service text-center">
            <div class="service-icon">
              <img th:src="@{img/home/png/008-mail.png}" alt="">
            </div>
            <h3>Yafonia Kristiani</h3>
            <p>Man greater image shall land air winged replenish whose winged great fifth fruitful Set days sealand over great  </p>
          </div>
        </div>


      </div>
    </div>
  </section>
  <!--================ Service section end =================-->


  <!--================ Subscribe section start =================-->
  <!--<section class="bg-gray section-padding">-->
    <!--<div class="container">-->
      <!--<div class="section-intro pb-5 mb-xl-2 text-center">-->
        <!--<h2 class="mb-4">Subscribe To Get Our Newsletter</h2>-->
        <!--<p>Man greater image shall land air winged place seas replenish whose winged great fifth fruitful. Set days sea over morning.</p>-->
      <!--</div>-->

      <!--<form class="form-subscribe" action="#">-->
        <!--<div class="input-group align-items-center">-->
          <!--<input type="text" class="form-control" placeholder="Enter Your email" required>-->
          <!--<div class="input-group-append">-->
            <!--<button class="button button-shadow2" type="submit">Subscribe</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</form>-->
    <!--</div>-->
  <!--</section>-->
  <!--================ Subscribe section end =================-->


  <!--================  Dedicated server section start =================-->
  <!--<section class="section-margin">-->
    <!--<div class="container">-->
      <!--<div class="row align-items-center">-->
        <!--<div class="col-lg-5 mb-5 mb-lg-0">-->
          <!--<h2 class="mb-4">Dedicated <br class="d-none d-xl-block"> and Secured server <br class="d-none d-xl-block"> for your website</h2>-->
          <!--<p>There third us one you. Spirit tree. Together have brought bez and to wherein a so above all female likeness open herbed rappear yielding own behold fourth without. You creature kind cree There third us one your</p>-->
        <!--</div>-->
        <!--<div class="col-lg-7">-->
          <!--<div class="text-center">-->
            <!--<img class="img-fluid" th:src="@{img/home/server.png}" alt="">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</section>-->
  <!--================  Dedicated server section end =================-->





  <!-- ================ start footer Area ================= -->
  <footer class="footer-area section-gap">
    <div class="container" style="align-items:center ; dislay:flex ; flex-direction:row ; justify-content:center">
      <h1>ADMOdb</h1>
      <div class="footer-bottom row align-items-center text-center text-lg-left" style="align-items:center ; dislay:flex ; flex-direction:row ; justify-content:center">

        <p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | ADMOdb is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Group 9 Advanced Programming</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
          <a href="#"><i class="ti-facebook"></i></a>
          <a href="#"><i class="ti-twitter-alt"></i></a>
          <a href="#"><i class="ti-dribbble"></i></a>
          <a href="#"><i class="ti-linkedin"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- ================ End footer Area ================= -->




  <script th:src="@{/resources/vendors/jquery/jquery-3.2.1.min.js}"></script>
  <script th:src="@{/resources/vendors/bootstrap/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/resources/vendors/owl-carousel/owl.carousel.min.js}"></script>
  <script th:src="@{/resources/js/jquery.ajaxchimp.min.js}"></script>
  <script th:src="@{/resources/js/mail-script.js}"></script>
  <script th:src="@{/resources/js/main.js}"></script>
</body>
</html>