<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ADMOdb - Advanced Movie Database</title>
	<link rel="icon" href="img/Fevicon.png" type="image/png">

  <link rel="stylesheet" th:href="@{/resources/vendors/bootstrap/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/resources/vendors/themify-icons/themify-icons.css}">
  <link rel="stylesheet" th:href="@{/resources/vendors/owl-carousel/owl.theme.default.min.css}">
  <link rel="stylesheet" th:href="@{/resources/vendors/owl-carousel/owl.carousel.min.css}">
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">

  <link rel="stylesheet" th:href="@{/resources/css/style.css}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" th:src="@{/resources/js/movieResult.js}"></script>
</head>
<body>

  <!--================ Header Menu Area start =================-->
  <header class="header_area">
      <div class="main_menu">
          <nav class="navbar navbar-expand-lg navbar-light">
              <div class="container box_1620">
                  <a class="navbar-brand logo_h" href="index"><h2 style = "color:white">ADMOdb</h2></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>

                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                  <ul class="nav navbar-nav menu_nav justify-content-end">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>

                    <li class="nav-item"><a class="nav-link" href="profile">Profile</a>
                    <li class="nav-item"><a class="nav-link" href="favoritemovie">Favorite Movies</a>

                  </ul>

                  <div class="nav-right text-center text-lg-right py-4 py-lg-0">
                    <a class="button button-link mr-4" href="chat"><span class="align-middle"><i class="ti-comments"></i></span> Live Chat</a>
                    <a class="button button-outline button-small" href="login" sec:authorize="isAnonymous()">Login</a>
                    <a class="button button-outline button-small" href="logout" sec:authorize="isAuthenticated()">Logout</a>
                  </div>
                </div>
              </div>
          </nav>
      </div>
  </header>
  <!--================Header Menu Area =================-->



  <!--================ Banner SM Section start =================-->
  <section class="hero-banner hero-banner-sm text-center">
    <div class="container">
      <h1>Movies</h1>
      <nav aria-label="breadcrumb" class="banner-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Movies</li>
        </ol>
      </nav>
    </div>
  </section>
  <!--================ Banner SM Section end =================-->


  <!--================ Movies section start =================-->
  <section class="blog_area section-margin">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-5 mb-lg-0">
          <div class="blog_left_sidebar">
            <div id="leftSidebar">
            </div>
            <nav class="blog-pagination justify-content-center d-flex">
              <ul class="pagination" id="pagebutton">
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="blog_right_sidebar">
            <aside class="single_sidebar_widget search_widget">
              <form action="#">
                <div class="form-group">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search Movie">
                    <div class="input-group-append">
                      <button class="btn" type="button"><i class="ti-search"></i></button>
                    </div>
                  </div>
                </div>
                <button class="button rounded-0 w-100" type="submit">Search</button>
              </form>
            </aside>

            <aside class="single_sidebar_widget post_category_widget">
              <h4 class="widget_title">Genres</h4>
              <ul class="list cat-list" id="rightSidebar">
              </ul>
            </aside>

            </div>
          </div>
        </div>
      </div>
      </section>



  <!-- ================ start footer Area ================= -->
  <footer class="footer-area section-gap">
    <div class="container" style="align-items:center ; dislay:flex ; flex-direction:row ; justify-content:center">
      <h1>ADMOdb</h1>
      <div class="footer-bottom row align-items-center text-center text-lg-left" style="align-items:center ; dislay:flex ; flex-direction:row ; justify-content:center">

        <p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | ADMOdb is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Group 9 Advanced Programming</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
          <a href="#"><i class="ti-facebook"></i></a>
          <a href="#"><i class="ti-twitter-alt"></i></a>
          <a href="#"><i class="ti-dribbble"></i></a>
          <a href="#"><i class="ti-linkedin"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- ================ End footer Area ================= -->




  <script th:src="@{/resources/vendors/jquery/jquery-3.2.1.min.js}"></script>
  <script th:src="@{/resources/vendors/bootstrap/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/resources/vendors/owl-carousel/owl.carousel.min.js}"></script>
  <script th:src="@{/resources/js/jquery.ajaxchimp.min.js}"></script>
  <script th:src="@{/resources/js/mail-script.js}"></script>
  <script th:src="@{/resources/js/main.js}"></script>
</body>
</html>