<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">

    <div class="row" style="padding-top: 10%">
        <div class="col s3">
            <div class="row"></div>
        </div>
        <div class="col s6">

            <div class="row">
                <div class="col s12">
                    <form class="col s12" name='f' th:action='@{/topic/new}' th:object="${newTopic}" method="POST">

                        <div class="row">
                            <div class="input-field col s12">
                                <select class="browser-default" id="section" th:field="${newTopic.sectionId}">
                                    <option value="0" disabled="disabled" selected="selected">Choose section</option>
                                    <option th:each="section : ${sections}" th:text="${section.name}"
                                            th:value="${section.id}"></option>
                                </select>
                                <p th:if="${#fields.hasErrors('sectionId')}" th:errors="*{sectionId}" class="red-text">
                                    Select section!</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input th:field="*{title}" id="title" name='title' type="text" class="validate"
                                       length="50"/>
                                <label for="title" th:text="#{title}"></label>
                                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="red-text">Incorrect
                                    title!</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <textarea th:field="*{content}" id="content" name="content"
                                          class="materialize-textarea"></textarea>
                                <label for="content">Content</label>
                                <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="red-text">
                                    Incorrect content!</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="input-field col s12">
                                <input class="btn waves-effect waves-light" type="submit" name="action" value="Submit"/>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
