<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">

    <div class="row" style="padding-top: 10%">
        <div class="col s3">
            <div class="row"></div>
        </div>
        <div class="col s6">

            <div class="row">
                <div class="col s12">
                    <form class="col s12" name='f' th:action='@{/section/new}' th:object="${newSection}" method="POST">
                        <div class="row">

                            <div class="row">
                                <div class="input-field col s12">
                                    <input th:field="*{name}" id="name" name='name' type="text" class="validate"
                                           length="50"/>
                                    <label for="name" th:text="#{section.name}"></label>
                                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="red-text">
                                        Incorrect name!</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea th:field="*{description}" id="description" name='description'
                                              class="materialize-textarea" length="150"></textarea>
                                    <label for="description" th:text="#{section.description}"></label>
                                    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                                       class="red-text">Incorrect description!</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input class="btn waves-effect waves-light" type="submit" name="action"
                                           th:value="#{page.new_section_form.create}"/>

                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
