<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: head">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container">

    <div th:replace="fragments/messages :: messages"></div>

    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12">
                    <h3 th:text="#{page.section.topics.in.section} + ' ' + ${section.name}">Topics in section</h3>
                    <p th:text="${section.description}"></p>
                    <a sec:authorize="hasAnyAuthority('ADMIN', 'HEAD_ADMIN')"
                       th:href="@{/section/delete/} + ${section.id}"
                       th:text="#{page.section.delete.section}" class="waves-effect waves-light btn"></a>
                    <a th:href="@{/topic/new}" th:text="#{page.section.new.topic}"
                       class="right waves-effect waves-light btn"></a>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row" th:each="topic : ${topics}">
                <div class="col s12">
                    <div class="section">
                        <a th:href="@{/topic/} + ${topic.id}"
                           th:text="${topic.user.username} + ': ' + ${topic.title}"></a>
                        <span class="right"
                              th:text="${topic.creationDate} ? ${#calendars.format(topic.creationDate, 'dd MMMM yyyy HH:mm')}"></span>
                        <span class="truncate"
                              th:text="${topic.content}"></span>
                    </div>
                    <div class="divider"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
