<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: head"></head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container">
    <div th:replace="fragments/messages :: messages"></div>

    <div class="row z-depth-1" style="margin-bottom: 40px; padding: 10px;">
        <div class="col s12">
            <h5>
                <a th:href="@{/section/} + ${topic.section.id}" th:text="${topic.section.name}"></a>
                : : <span th:text="${topic.title}"></span>
            </h5>
        </div>
    </div>


    <!-- TOPIC  -->

    <div class="row z-depth-1">
        <div class="row">
            <!-- L -->
            <div class="col s2  center">
                <div class="row">
                    <div class="col s11 right">
                        <a th:href="@{/user/} + ${topic.user.username}" th:text="'@' + ${topic.user.username}"></a>

                        <!--                            <img th:src="@{/resources/img/} + ${topic.user.idProfilePicture?} + '.jpg'" class="responsive-img" />-->

                    </div>
                </div>
                <div class="col s12"></div>
            </div>


            <!-- R -->
            <div class="col s10">
                <div class="row">
                    <div class="col s11">
                        <p th:text="${topic.creationDate} ? ${#calendars.format(topic.creationDate, 'HH:mm dd MMMM yyyy')}"></p>
                        <p th:utext="${#strings.replace(topic.content,T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"></p>
                        <div class="divider"></div>
                    </div>
                </div>
                <h6 th:text="${topic.user.username}" class="blue-grey-text lighten-3-text"></h6>
            </div>
        </div>

        <!--            <div class="row" th:if="${#authentication.name} eq ${topic.user.username}">-->
        <div class="col s10 right">
            <a class="btn-floating btn waves-effect waves-ligh green" th:href="@{/topic/delete/} + ${topic.id}">
                <i class="material-icons white black-text">delete</i>
            </a>
            <a class="btn-floating btn waves-effect waves-ligh green" th:href="@{/topic/edit/} + ${topic.id}">
                <i class="material-icons white black-text">mode_edit</i>
            </a>
        </div>
        <!--            </div>-->
    </div>

    <!-- BERBAHAYA -->


    <!-- POSTS -->

    <div class="row z-depth-1" th:each="post : ${posts}" th:id="${post.id}">

        <!-- L -->
        <div class="col s2  center">
            <a th:href="@{/user/} + ${post.user.username}" th:text="'@' + ${post.user.username}"></a>
            <div class="col s12">

                <!--                    <img th:src="@{/resources/img/img/} + ${post.user.idProfilePicture} + '.jpg'" class="responsive-img" />-->
            </div>
        </div>

        <!-- R -->
        <div class="col s10">
            <div class="row">
                <div class="col s11">
                    <p
                            th:text="${post.creationDate} ? ${#calendars.format(post.creationDate, 'HH:mm:ss')} + ' ' + #{page.topic.on.day} + ' ' + ${#calendars.format(post.creationDate, 'dd MMMM yyyy')}"></p>
                    <p th:utext="${#strings.replace(post.content,T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"></p>
                    <div th:if="${post.user.footer != null}" class="divider"></div>
                </div>
            </div>
            <h6 th:text="${post.user.footer}" class="blue-grey-text lighten-3-text"></h6>
        </div>


        <!--            <div class="row" th:if="${#authentication.name} eq ${post.user.username}">-->
        <div class="col s10 right">
            <a class="btn-floating btn waves-effect waves-ligh green" th:href="@{/post/delete/} + ${post.id}">
                <i class="material-icons white black-text">delete</i>
            </a>
            <a class="btn-floating btn waves-effect waves-ligh green" th:href="@{/post/edit/} + ${post.id}">
                <i class="material-icons white black-text">mode_edit</i>
            </a>
        </div>
        <!--            </div>-->
    </div>


    <!-- SECTION REPLY -->

    <div class="row " sec:authorize="isAuthenticated()">
        <div class="col s10 z-depth-1 right">
            <form th:action="@{/topic/} + ${topic.id}" method="POST" th:object="${newPost}">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea th:field="*{content}" id="content" name="content"
                                  class="materialize-textarea"></textarea>
                        <label for="content">Your reply</label>
                        <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="red-text">Invalid
                            content!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s2 right">
                        <button class="btn waves-effect waves-light" type="submit" name="action">
                            Reply <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>
